.imghv {
position: relative;
background-size: cover;
}
.hover {
width: 100%;
height: 100%;
position: absolute;
background: rgba(128,128,128,0.5);
display: none;
top: 0;
left: 0;
}
.ant-card:hover .cardhv .imghv .hover {
display: block;
}
