.App {
  display:block;
}
.red{
  width: 100px;
  height: 100px;
  background-color: red;
}
span.text{
  width:30px;
  height: 30px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.gutter-example .ant-row > div {
  background: transparent;
  border: 0;
}
.gutter-box {
  background-color: white;
  color:black;
  cursor: pointer;
}
.gutter-box:hover{
  color:#16a0ce;
}
.example-input .ant-input {
  margin: 0 8px 8px 0;
}

.login{
  color:white
}
.ant-carousel .slick-slide {
  line-height: 50px;
  overflow: hidden;
}
.ant-carousel .slick-dots li button {
  width: 20px;
  border:1px solid #3d5777;
  border-radius:5px;
}
.ant-carousel .slick-dots li.slick-active button {
  background: #fff;
  opacity: 1;
  width: 20px;
}
.dot{
  width: 20px;
  height: 20px;
}
.ant-carousel .slick-dots li button {
  width: 6px;
  padding: 4px;
}
.ant-carousel .slick-dots li.slick-active button {
  width: 6px;
  border-radius: 5px;
}
.vertical-center-modal {
  text-align: center;
  white-space: nowrap;
}

.vertical-center-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.vertical-center-modal .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: left;
}

.example {
  text-align: center;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 230px 250px;
  margin: 20px 0;
}

